
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Local Firebase Emulator Data
.firebase/
firebase-debug.log*
database-debug.log*
firestore-debug.log*
storage-debug.log*
ui-debug.log*
*.log

# TypeScript cache
*.tsbuildinfo

# Turbopack
.turbo

# Genkit (optional, if you have local traces/logs)
.genkit/log/
.genkit/trace/
